<ul>
  <li>
    <input type="checkbox" (change)="showComprados($event)"> Não mostrar itens
    já comprados
  </li>
  @for (item of list; track item.produto) { 
    @if(!item.comprado || (item.comprado && mostrarComprados))
    {
        <li>
            <input
                type="checkbox"
                [checked]="item.comprado"
                (change)="markCheckbox($event, item.produto)"
            >
            {{ item.produto }} - {{ item.quantidade }}
            <button (click)="editarProduto(item.produto)">Editar</button>
            <button (click)="deleteProduto(item.produto)">Excluir</button>
        </li>
    }
  }
    <label>
      Produto:
      <input type="text" (input)="name($event)" >
    </label>
    <label>
      Quantidade:
      <input type="number" (input)="qtd($event)">
    </label>
    <button (click)="adicionarProduto()">Adicionar Produto</button>
  
</ul>
